<div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <%= @task.due_date %>
</div>
<div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <%= @task.name %>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <%= simple_format(@task.note) %>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <%= link_to 'Back to index', tasks_path, class: "btn btn-primary" %>
</div>
